<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\..\static\css\data_form.css">
</head>

<body>
    <div class="header">
        <h1>SCHOOL Helper</h1>
        <p><b>我接受的任务</b></p>
    </div>
    <!--2020年4月30日 新增 swf 未登录显示 if-->

    <div class="topnav">
        <a href="#" style="margin-left: 100px;">首页</a>
        <a href={% url 'tasks_square:task_square' %}>任务广场</a>
        <a href={% url 'hunt:up0' %} class="active">我要发布</a>
        <a href={% url 'hunt:edit' %}>个人中心</a>
        <a href="#" style="float:right; margin-right: 100px;"><img src="..\..\static\image\user_center.png" width="35px"
                height="35px"></a>
    </div>


    {# 2020年5月9日 swf 改了冲突 #}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <caption id="cap">发布</caption>
        <div class="row">
            <div><label for="id_contact_type_publisher">你希望的联系方式:</label></div>
            <div class="select"><select name="contact_type_publisher" id="id_contact_type_publisher">
                    <option value="0" selected>email</option>

                    <option value="1">qq</option>

                    <option value="2">wechat</option>

                    <option value="3">tel</option>

                    <option value="4">other</option>

                </select></div>
        </div>
        <div class="row">
            <div><label for="id_task_name">任务名(必填）:</label></div>
            <div><input type="text" name="task_name" maxlength="32" required id="id_task_name"></div>
        </div>
        <div class="row">
            <div><label for="id_task_sketch">任务描述:</label></div>
            <div><input type="text" name="task_sketch" maxlength="512" id="id_task_sketch"></div>
        </div>
        <div class="row">
            <div><label for="id_task_file">相关文件:</label></div>
            <div><input type="file" name="task_file" id="id_task_file"></div>
        </div>
        <div class="row">
            <div><label for="id_task_type">任务类型:</label></div>
            <div class="select"><select name="task_type" id="id_task_type">
                    <option value="1">快递服务</option>

                    <option value="2">修理服务</option>

                    <option value="3">课业指导</option>

                    <option value="4">恋爱邂逅</option>

                    <option value="5">其他</option>

                </select>
            </div>
        </div>
        <div class="row">
            <div><label for="id_ddltime">截止时间:</label></div>
            <div><input type="date" name="ddltime" value="2021-09-03" required id="id_ddltime"></div>
        </div>
        <div class="row">
            <div><label for="id_task_reward">任务奖励（必填）:</label></div>
            <div><input type="number" name="task_reward" value="0" id="id_task_reward"></div>
        </div>
        <button type="submit" class="button">提交</button>

    </form>
    <div class="footer">
        <h4>
            Written by Group 5.<br>
            Visit us at:<br>
            上海市闵行区东川路800号<br>
        </h4>
    </div>

</body>

</html>