<!DOCTYPE html>
<html>
<head> 
    <meta
             charset="utf-8">
     
    <title>我接受的任务</title> 
</head>
<body>

<h1>我接受的任务：全部</h1>
<a href={% url 'task_received:received_tasks_not_finished' %}><h2>未完成</h2></a>
<a href={% url 'task_received:received_tasks_finished' %}><h2>已完成</h2></a>
<a href={% url 'tasks_square:task_square' %}>回到任务广场</a>
<br>

<div id="menu" style="background-color:;width:120px;float:left;">
    <!--任务类别；选中哪个类别的任务，加粗，这个没做出来-->
    <b>任务类别</b>
    <ol><a href={% url 'task_received:all_task_received' %}>全部</a></ol>
    <br>
    {% for tasktype in task_types %}
        <ol><a href={% url 'task_received:task_sometype' tasktype.id %}>{{ tasktype.typename }}</a></ol>
        <br>
    {% endfor %}

</div>

<div id="content" style="background-color:#EEEEEE;height:600px;width:450px;float:left;">
    <b>任务列表</b>
    <ol>
        {% for task in task_received_list %}
            <a href={% url 'task_received:task_detail' task.id %}>{{ task.task_name }}</a><br>
            任务简述：{{ task.task_sketch }}<br>
            <!--加了if语句-->
            {% if task.is_finished == False %}
            <form action="{% url 'task_received:reasons_revoke' task.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="撤销任务"/>
            </form>
            <!--想弄再次确定弹框，点击确定后才跳转到评价页面，而不是直接确定-->
            <form action="{% url 'task_received:task_finished' task.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="完成任务"/>
            </form>
             {% else %}
                该任务已完成<br>
            {% endif %}
        {% endfor %}
        <ol>
</div>


</body>
</html>

