<h1>任务名：{{ task.task_name }}</h1><br>
任务简介：{{ task.task_sketch }}<br>
发布人：{{ task.publisher.username }}<br>
联系方式：{{ task.contactpublisher }}{{ contact }}<br>

<!--swf 2020年4月25日 加了if语句-->
{% if task.is_finished == False %}
    <form action="{% url 'task_received:reasons_revoke' task.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="撤销任务"/>
    </form>

    <form action="{% url 'task_received:task_finished' task.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="完成任务"/>
{% else %}
    该任务已完成<br>
{% endif %}
</form>