<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>m_change</title>
</head>
<body>
<li>截止日期:{{mission.ddltime}}</li>
<li>任务类型:{{type}}</li>
<li>任务详情:</li>
<li>{{mission.task_sketch}}</li>
<li>酬金（元）:{{mission.task_reward}}</li>
<li></li>
<li></li>
<li>修改</li>
<form method="post">
    截止日期<input type="date" name="Data">
    <div class="form-group">
        <label for="task_type_input">任务类型</label>
        <select class="form-control" name="task_type" style="width: 10rem;">
            <option value=1>快递服务</option>
            <option value=2>修理服务</option>
            <option value=3>课业指导</option>
            <option value=4>邂逅表白</option>
            <option value=5>其他服务</option>
        </select>
    </div>
    <div class="form-group">
        <label for="task_sketch_input">任务简介</label>
        <textarea rows="3" class="form-control" placeholder="请输入任务简介,以简单地描述你的任务(不超过200字)"
                  name="task_sketch"></textarea>
    </div>
    任务名<input type="text" name="m1">
    酬金（元）<input type="number" name="g">
{#    <div class="form-group">#}
{#        <label for="task_file_input">任务附件</label>#}
{#        <input type="file" name="task_file">#}
{#    </div>#}
    <input type="submit" name="Submit" value="提交">
</form>
</body>
</html>