<!--这个HTML，和app task_received 的all_task_received.html类似-->
<!DOCTYPE html>
<head> 
    <meta charset="utf-8">
    <title>{{ username }}的任务广场</title> 
</head>
<body>
Welcome，{{ username }}！
<h1>任务广场</h1>
<!--一登录进去就是任务广场，含有其他按钮:个人中心、我要发布任务之类，链接加到这里-->
<a href={% url 'task_received:all_task_received' %}><h2>我接受的任务</h2></a>

<!--可以把这几个放在一个下拉列表“排序方式”-->
<a href={% url 'tasks_square:task_square_sort' type_id 'id' %}>默认排序</a><br>
<a href={% url 'tasks_square:task_square_sort' type_id 'task_reward' %}>按酬劳升序</a><br>
<a href={% url 'tasks_square:task_square_sort' type_id '-task_reward' %}>按酬劳降序</a><br>

<div id="menu" style="background-color:; width:100px;float:left;">
    <!--任务类别；选中某类后，要能看出来是选中了这个选项-->
    <b>任务类别</b>
    <a href={% url 'tasks_square:task_square' %}>
        <ol>全部</ol>
    </a><br>
    {% for tasktype in task_types %}
        <a href={% url 'tasks_square:task_square_sort' tasktype.pk 'id' %}>
            <ol>{{ tasktype.typename }}</ol>
        </a><br>
    {% endfor %}
</div>

<div id="content" style="background-color:#EEEEEE;height:600px;width:450px;float:left;">
    <b>任务列表</b><br>
    <small>{{ sort }} {{ ordername }}</small>
    <ol>
        {% for task in tasks_list %}
            <a href={% url 'tasks_square:task_detail' task.id %}>{{ task.task_name }}</a><br>
            任务简述：{{ task.task_sketch }}<br>
            <!--金额大概可以显示在右边，“接受任务上面/旁边”？或者再任务名前面之类？-->
            ¥{{ task.task_reward }}<br>
            <form action="{% url 'tasks_square:check_hunt' task.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="接受任务"/>
            </form>
        {% endfor %}
    </ol>
</div>
</body>


