<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>un_acp</title>
</head>
<body>
<ul>
    <a href="http://127.0.0.1:8000/un_acp">未被接</a>
    <a href="http://127.0.0.1:8000/acp">已被接</a>
    <a href="http://127.0.0.1:8000/finish">已完成</a>
    {% for mission in missions %}
        {% if mission.acp == False %}
            <li>{{mission.mission1}}</li>
            <a href="/d_unacpm/?id={{mission.id}}">取消</a>
            <a href="/m_detail/?id={{mission.id}}">任务详情</a>
            <a href="/m_change/?id={{mission.id}}">修改任务</a>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>