<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我发布的任务</title>
    <link rel="stylesheet" type="text/css" href="../static/css/what_I_release.css">
</head>
<body>
<div class="header">
    <h1>SCHOOL Helper</h1>
    <h3>个人中心</h3>
    <p>我发布的任务</p>
</div>

<div class="topnav">
    <a href="#">首页</a>
    <a href="#">任务广场</a>
    <a href="#">我要发布</a>
    <a href="#" style="float:right" class="active"><img src="../static/image/user_center.png" width="35px" height="35px"
                                                        alt="user center"></a>

</div>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>我发布的任务</h2>
            <ul>
                <li><a href="http://127.0.0.1:8000/release">&nbsp;&nbsp;&nbsp;&nbsp;已完成的任务</a></li>
                <li><a href="http://127.0.0.1:8000/acp">&nbsp;&nbsp;&nbsp;&nbsp;未完成的任务</a></li>
                <li><a href="http://127.0.0.1:8000/un_acp" class="active">&nbsp;&nbsp;&nbsp;&nbsp;尚未被接受的任务</a></li>

            </ul>
        </div>
    </div>
    <div class="rightcolumn">
        {% for mission in missions %}
        {% if mission.acp == False %}
        <div class="card">
            <h2>{{mission.mission1}}</h2>
            <a class="button" href="/d_unacpm/?id={{mission.id}}">取消</a>
            <a class="button" href="/m_detail/?id={{mission.id}}">任务详情</a>
            <a class="button" href="/m_change/?id={{mission.id}}">修改任务</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="footer">
    <h4>

        Written by Group 5.<br>
        Visit us at:<br>
        上海市闵行区东川路800号<br>

    </h4>
</div>

</body>

</html>
