{% extends 'base_main.html' %}


{% block content %}
    <div style="position: fixed; padding-top: 1.5rem;">
        <h1 style="font-size: 0.5rem;">制作：上海交大电子信息与电气工程学院</h1>
        <h2>2020春季学期软件工程大作业</h2>
        <h3 style="font-size: 0.38rem;">项目名:Schoolmates_helper</h3>
        <h3 style="font-size: 0.38rem;">项目成员：莨瑾、s.s、Slow Walker、Roxie、fan、tian</h3>
        <h3 style="font-size: 0.3rem;">版本_v1.0</h3>
        <h3 style="font-size: 0.3rem;">时间:2020.3.27</h3>
        <br>
        <br>
        <a href="{% url 'App:mine'%}" style="font-size: large">
            <span class="glyphicon glyphicon-share-alt" style="color: blue"></span>
            <span style="color: blue">返回</span>
        </a>

    </div>
{% endblock %}