{% extends 'base_main.html' %}


{% block content %}
    <div style="position: fixed; padding-top: 1.5rem;">
        <h1 style="font-size: 0.5rem;">客服QQ：2066278354</h1>
        <h3 style="font-size: 0.5rem;">客服电话：XXXXXXXXX</h3>
        <h3 style="font-size: 0.5rem;">客服微信号:liiliiislsa</h3>
        <h3 style="font-size: 0.3rem;">版本_v1.0</h3>
        <h3 style="font-size: 0.3rem;">时间:2020.3.27</h3>
        <br>
        <br>
        <a href="{% url 'App:mine'%}" style="font-size: large">
            <span class="glyphicon glyphicon-share-alt" style="color: blue"></span>
            <span style="color: blue">返回</span>
        </a>

    </div>
{% endblock %}