<title>用户{{ publisher.username }}的信息</title>
<h1>用户：{{ publisher.username }}</h1>
<h2>他发布的任务：</h2>
{% for task in his_alltasks %}
    <ul>
        <li><b>任务名：</b><a href={% url 'tasks_square:task_detail' task.id %}>{{ task.task_name }}</a>
            <br>
            <b>任务完成评论：</b><br>
            {% if task.commented_tasks.all.exists %}
                {% for comment in task.commented_tasks.all %}
                    {{ task.hunter.username }}：{{ comment.comment_for_publisher }}<br>
                {% endfor %}
            {% else %}
                暂无评价<br>
            {% endif %}
        <b>撤销记录：</b><br>
        {% if task.revoked_tasks.all.exists %}
                {% for reason in task.revoked_tasks.all %}
                    匿名用户：{{ reason.revoke_reason }}<br>
                {% endfor %}
            {% else %}
                暂无撤销记录
            {% endif %}

        </li>
    </ul>
{% endfor %}