<<<<<<< HEAD
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-image: url('shuicai.jpg');
}


/* 头部标题 */

.header {
    padding: 30px;
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: white;
    background-image: url('shuicaino.jpg');
    background-repeat: no-repeat;
}

.header h1 {
    font-size: 50px;
}


/* 导航条 */

.topnav {
    overflow: hidden;
    background-color: #333;
}


/* 导航条链接 */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* 链接颜色修改 */

.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}


/* 激活 */

.topnav a.active {
    background-color: rgb(160, 160, 151);
    color: black;
}

.input {
    outline: none;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: solid thin #AAAAAA;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
    text-align: center;
}


/* 底部 */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.inline {
    display: inline;
}


/* 文本框 */

.summary {
    width: 300px;
    height: 150px;
    resize: none;
    font-size: 18px;
    border: solid thin #AAAAAA;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
}


/* 任务详情 */

.details {
    width: 70%;
    height: 500px;
    resize: none;
    font-size: 18px;
    border: solid thin #AAAAAA;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
}

.rightcolumn {
    float: left;
    width: 100%;
    padding-left: 50px;
}


/* 列后面清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 底部 */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


/* 图片预览 */

.preview {
    width: 600px;
    height: 600px;
}

.preview img {
    width: 100%;
}


/* 下拉表单 */

select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}


/* 提交按钮 */

input[type=submit] {
    background-color: #0099FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/* 日期选择 */

input[type=date] {
    background-color: whitey;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
=======
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-image: url('shuicai.jpg');
}


/* 头部标题 */

.header {
    padding: 30px;
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: white;
    background-image: url('shuicaino.jpg');
    background-repeat: no-repeat;
}

.header h1 {
    font-size: 50px;
}


/* 导航条 */

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 48px;
}


/* 导航条链接 */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* 链接颜色修改 */

.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}


/* 激活 */

.topnav a.active {
    background-color: rgb(160, 160, 151);
    color: black;
}

.input {
    outline: none;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: solid thin #AAAAAA;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
    text-align: center;
}


/* 底部 */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.inline {
    display: inline;
}


/* 文本框 */

.summary {
    width: 300px;
    height: 150px;
    resize: none;
    font-size: 18px;
    border: solid thin #AAAAAA;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
}


/* 任务详情 */

.details {
    width: 70%;
    height: 500px;
    resize: none;
    font-size: 18px;
    border: solid thin #AAAAAA;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
}

.rightcolumn {
    float: left;
    width: 100%;
    padding-left: 50px;
}


/* 列后面清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 底部 */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


/* 图片预览 */

.preview {
    width: 600px;
    height: 600px;
}

.preview img {
    width: 100%;
}


/* 下拉表单 */

select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}


/* 提交按钮 */

input[type=submit] {
    background-color: #0099FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/* 日期选择 */

input[type=date] {
    background-color: whitey;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
>>>>>>> 我要发布前端 添加个人中心图标yjl
}